/* RESET */
*,
::before,
::after {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  box-sizing: border-box;
}
/* BODY */
body {
  width: 80%;
  margin: auto 10% 1%;
}

/* NAVIGATION */
/* Barre de navigation */
.navbar {
  background-color: #dd5555;
  position: absolute;
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: start;
  width: 80%;
  box-sizing: border-box;
}

/* liens de navigation ul*/
.navbar > .nav-links > ul {
  display: flex;
}
ul:hover li {
  opacity: 0.2;
  filter: blur(0.5px);
}

/* liens de navigation li*/
.navbar > .nav-links > ul > li {
  margin: 0 35px;
  width: 100px;
  height: 20px;
}
ul > li:hover {
  opacity: 1;
  filter: blur(0px);
  text-shadow: 0px 0px 1px #fff;
}

ul > li:hover a {
  font-size: 1.2rem;
  color: #fdfdfd;
}
ul > li:hover a > img {
  background: none;
  filter: drop-shadow(0px 0px 0.8px #dd5555);
}

/* liens de navigation a*/
.nav-links > ul > li > a {
  color: #fff;
  font-size: 1.1rem;
  transition: 0.3s ease;
}
.nav-links > ul > li > a:active {
  font-size: 1.3rem;
  text-shadow: 0px 0px 2px#fff;
}

/* HEADER */
header {
  width: 100%;
  height: 90vh;
}

/* header2 */
.header2 {
  width: 100%;
  height: 90vh;
  background: url(assets/about.jpg.png) no-repeat center;
  background-size: cover;
  position: top center;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header2Bloc {
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: auto;
  padding-left: 5%;
  padding-right: 5%;
}

.headerLiens {
  width: 45%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: auto;
  padding-left: 5%;
  padding-right: 5%;
}

/* header2 liens button*/
.headerLiens > button {
  margin: auto 2% 2%;
  margin-top: 10%;
  padding-left: 5%;
  padding-right: 5%;
  padding: 2% 3% 2% 3%;
  background-color: #ffffffe5;
  border: none;
  border-radius: 3%;
  cursor: pointer;
  display: flex;
  justify-content: space-around;
  align-items: center;
  transition: 0.3s;
}
.headerLiens > button:hover {
  margin-top: 7%;
  background-color: #dd5555;
  border-bottom: 2px solid #ffffff;
  border-top: 2px solid #ffffff9e;
  border-right: 2px solid #ffffff9e;
  border-left: 2px solid #ffffff9e;
  border-radius: 8%;
}
.headerLiens > button:active {
  margin: 5% 1%;
  background-color: #dd5555;
  border-radius: 8%;
  border: none;
}

/* header2 liens button a */
.headerLiens > button > a {
  width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.headerLiens > button:hover a {
  color: #fff;
}
.headerLiens > button:active a {
  color: #fff;
}

/* header2 liens button a img*/
.headerLiens > button > a > img {
  width: 10px;
  margin-left: 1%;
  margin-right: 10%;
}

/* MAIN */
main {
  width: 100%;
  border: 0.5px solid #0000002d;
}

/* main2 */
.main2 {
  width: 100%;
}
.main2Icon {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-left: 8%;
  padding-right: 8%;
  padding-top: 2%;
  padding-bottom: 2%;
  margin: auto;
}
.main2Icons {
  text-align: center;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin: auto 8% 8%;
}
.blocIcon {
  width: 250px;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  margin: auto 0% 5%;
}
.blocIcon > img {
  width: 70px;
  height: 70px;
  background-color: #dd5555;
  border-radius: 50%;
  border: none;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* main3 */
.main3Backgroundimg {
  background: url(assets/team.jpg.png) no-repeat center;
  background-position: top center;
  background-size: cover;
  width: 100%;
  height: 240px;
  margin: auto;
  padding-left: 5%;
  padding-right: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
}
.main3Backgroundimg:hover {
  filter: brightness(180%);
}

/* main4 */
.main4Team {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  margin-bottom: 5%;
  flex-wrap: wrap;
}
.main4TeamAvatar {
  padding: 2%;
}

/* main4 img */
.main4TeamAvatar > img {
  flex-wrap: wrap;
  width: 150px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 10%;
  transition: 0.3s;
}
.main4TeamAvatar > img:hover {
  filter: brightness(140%);
}

/* main4 a */
.main4TeamAvatar > a {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* main4 button */
.main4TeamAvatar > a > button {
  width: 110px;
  border: none;
  border-radius: 5%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3%;
}
.main4TeamAvatar > a > button:hover {
  background-color: #fff;
  color: #dd5555;
  border: 2px solid #dd5555;
  margin-top: 0%;
}
.main4TeamAvatar > a > button:hover img {
  filter: drop-shadow(0px 0px 0.8px #dd5555);
}
.main4TeamAvatar > a > button:active {
  background-color: #fff;
  color: #dd5555;
  border: 0.5px solid #dd5555;
  margin-top: 0%;
}
.main4TeamAvatar > a > button:active img {
  filter: drop-shadow(0px 0px 0.8px #dd5555);
}

/* FOOTER */
footer {
  width: 100%;
  height: 360px;
  background-color: #dd5555;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: auto;
  padding: 2%;
}

/* formulaire */
.form {
  width: 50%;
  margin-left: 15%;
  margin-right: 15%;
}
.formNomMail {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin: auto;
  margin-bottom: 3%;
}
.form1nom {
  display: flex;
  flex-direction: column;
}
#NOM {
  border: none;
  width: 100%;
}
.form1email {
  display: flex;
  justify-content: left;
  flex-direction: column;
}
#Mail {
  border: none;
  width: 100%;
}
.formMessage {
  width: 100%;
  display: flex;
  flex-direction: column;
}
#Message {
  width: 100%;
  height: 55px;
  border: none;
}

/* div envoi */
.send {
  display: flex;
  justify-content: right;
  align-items: center;
}

/* div envoi button */
.send > button {
  display: flex;
  justify-content: space-around;
  margin: 5% 0%;
  align-items: center;
  padding: 2%;
  border: none;
  border-radius: 3%;
  cursor: pointer;
  transition: 0.3s;
}
.send > button:hover {
  background-color: #fff;
  color: #dd5555;
  border: none;
  margin: 5% 0%;
}
.send > button:active {
  font-size: 0.9rem;
  background-color: #fff;
  color: #dd5555;
  border: none;
  margin: 5% 0%;
}
.send > button:active img {
  filter: drop-shadow(0px 0px 0.8px #dd5555);
}

/* div envoi button img */
.send > button > img {
  width: 25%;
}

/* HOVER */

/* Typographie */
/* titre */
h1 {
  color: #ffffff;
  font-family: "Open sans", sans-serif;
  font-size: 2.5rem;
  font-weight: 700;
  letter-spacing: 0px;
  text-align: center;
  margin: auto;
}
h1 > small {
  color: #ffffffba;
  font-family: "Open sans", sans-serif;
  font-size: 1.5rem;
  font-weight: lighter;
  letter-spacing: -0.5px;
  line-height: normal;
  text-align: center;
  margin: auto;
}
.main3Backgroundimg > h2 {
  text-align: center;
  font-family: "Open sans", sans-serif;
  font-size: 1.9rem;
  font-weight: 500;
  letter-spacing: 0px;
  line-height: 38.6px;
  color: #ffffff;
}
footer > h2 {
  text-align: center;
  font-family: "Open sans", sans-serif;
  font-size: 2.1rem;
  font-weight: 500;
  letter-spacing: 0px;
  line-height: 55px;
  color: #ffffff;
}
h3 {
  font-size: 1.5rem;
  text-align: center;
  font-family: "Open sans", sans-serif;
  font-weight: 600;
  color: #2e2e2e;
  letter-spacing: 0px;
  line-height: 45.2px;
}

/* texte */
p {
  font-family: "Open sans", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 0px;
  line-height: 24px;
}

/* lien */
a {
  font-family: "Open sans", sans-serif;
  font-size: 0.85rem;
}
nav > ul > li > a {
  text-decoration: none;
  color: #ffffff;
  font-family: "Open sans", sans-serif;
  font-size: 0.9rem;
  font-weight: 400;
}
.headerLiens > button > a {
  color: #2e2e2e;
}

/* separation */
.sepHeader2 {
  color: #ffffffba;
  width: 35%;
  margin: auto;
  margin-top: 1%;
}

/* main2 */
.main2Icon2 {
  text-align: center;
}

.blocIcon {
  text-align: center;
  font-family: "Opens sans", sans-serif;
  font-size: 1.2rem;
  font-weight: 600;
  color: #2e2e2e;
  line-height: 33.6px;
  letter-spacing: 0px;
}

/* main4 */
.main4Team {
  text-align: center;
  font-family: "Open sans", sans-serif;
  font-size: 1.1rem;
  font-weight: 700;
  line-height: 33.6px;
  color: #2e2e2e;
}

/* button */
.main4TeamAvatar > a > button {
  text-align: center;
  font-family: "Open sans", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  color: #ffffffcb;
  background-color: #dd5555;
  transition: 0.3s;
  margin-top: 3%;
}
.send > button {
  background-color: #ffffff;
}

/* formulaire */
label {
  color: #ffffffd4;
  font-family: "Open sans", sans-serif;
  font-size: 0.9rem;
}
.footerForm {
  text-align: center;
}
.formNomMail {
  text-align: left;
  line-height: 24px;
}
.formMessage {
  text-align: left;
  line-height: 24px;
}

/* MENU BURGER */

.nav-toggler {
  position: absolute;
  right: 15%;
  height: 35px;
  width: 35px;
  display: none;
  border: none;
  outline: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  z-index: 10;
}

/* Animation menu burger*/
/* span */
.l1 {
  transform: translateY(-10px);
}
.l3 {
  transform: translateY(10px);
}

/* menu burger active */
.nav-toggler.active .l1 {
  transform: translateY(0px) rotate(300deg);
}
.nav-toggler.active .l2 {
  opacity: 0;
}
.nav-toggler.active .l3 {
  transform: translateY(0px) rotate(-300deg);
}

/* RESPONSIVE */
@media (max-width: 1000px) {
  .nav-links {
    display: none;
  }
  .nav-links.active {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .navbar {
    justify-content: space-between;
    width: 80%;
    background-color: #dd5555;
    border-bottom: 5px ridge #ffffff;
    transform: translateY(-50%);
    transition: transform 0.3s cubic-bezier(0.73, 0.11, 0.67, 0.84);
  }

  .navbar.active {
    flex-direction: column;
    transform: translate(0);
    transition: 1s ease;
  }
  .nav-links > ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .navbar > .nav-toggler {
    width: 35px;
    display: block;
    right: 10%;
  }
  .navbar > .nav-toggler.active {
    width: 35px;
    display: block;
    position: absolute;
    top: 6%;
    right: 10%;
  }

  .nav-links > ul > li {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    padding-top: 10%;
  }

  .nav-links > ul > li > a {
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .line {
    position: absolute;
    display: block;
    width: 35px;
    height: 2px;
    background-color: #f1f1f1;
    transition: transform 0.8s ease-out, opacity 0.5s ease-out;
  }
  .nav-toggler.active .l1 {
    transform: translateY(0px) rotate(300deg);
  }
  .nav-toggler.active .l2 {
    opacity: 0;
  }
  .nav-toggler.active .l3 {
    transform: translateY(0px) rotate(-300deg);
  }
}
